*{
  margin: 0;
  padding: 0;
}
.navbar-style{
  box-shadow: 0 5px 10px #efefef;
  text-transform: uppercase;
}
.container{
  margin-top: 10px;
}
.logo {
  height: 48px;
  width: 78px;
  padding: 2px 10px;
}
li a
{
 color: black;
}
.big-text{
  font-size: 54px;
  margin: 20px, 0;
  color: darkorange;
}
a.btn{
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}
a.btn-first{
  background-color: darkorange;
  color: #fff;
}
a.btn-second{
  background: transparent;
  border: 1px solid darkorange;
  color: #333;
}
a.btn:hover{
  background: darkorange;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}
.icon{
  margin-right: 10px;
  color: darkorange;
}
.gall{
  text-align: center;
  color: darkorange;
}
.gallery{
  margin-left: 50px;
  margin-bottom: 50px;
}
.gallery > ul > li a { 
border: 3px solid darkorange;
border-radius: 3px;
display: block;
overflow: hidden;
position: relative;
}
.gallery > ul > li a > img {
-webkit-transition: -webkit-transform 0.15s ease 0s;
-moz-transition: -moz-transform 0.15s ease 0s;
-o-transition: -o-transform 0.15s ease 0s;
transition: transform 0.15s ease 0s;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
height: 90%;
width: 90%;
}

.gallery > ul > li a:hover > img {
-webkit-transform: scale3d(1.1, 1.1, 1.1);
transform: scale3d(1.1, 1.1, 1.1);
}
footer{
  background-color: orange;
  height: 250px;
}
footer > .container > .row > .col-sm-3 a {
font-family: sans-serif;
color: rgb(27, 25, 25);
} 
